VITE_API_URL=http://localhost:3000
VITE_WS_URL=ws://localhost:3000
VITE_SUPABASE_URL=https://yxcffhcrrhtkgdezkppz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl4Y2ZmaGNycmh0a2dkZXprcHB6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk0MTcyMjgsImV4cCI6MjA4NDk5MzIyOH0.pcIRoVEPlpx80xsRrp9hHFNh8Vl4sgdP5KuvDtzNrQQ
